*{
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  width: 50px;
  height: 50px;
  background-color: lightgray;
  border: 1px solid black;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  font-size: 20px;
  cursor: pointer;
}

.board{
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  height: 150px;
}

.status{
  margin-bottom: 10px;
}
